<div class="counter-area pb-100 pt-100" data-overlay="7">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center mb-40">
                <div class="section-title">
                    <h2>{{include.data.title}}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for item in include.data.achievements %}
            <div class="col-xl-4 col-md-4 col-sm-4 z-index">
                <div class="single-counter text-center mb-30 bottom-bar">
                    <i class="{{item.icon}}"></i>
                    <div class="counter">{{item.number}}</div>
                    <p>{{item.text}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>