---
layout: default
---
{% include header.html %}
<main>
    {% include components/slider/slider.html %}
    {% include components/achievements-list/achievements-list.html %}
    {% include components/section/section.html section="who-we-are" classes="pt-30 pb-40" %}
    {% include components/section/section.html section="what-we-do" classes="grey-bg pt-50" %}
    {% include components/activities-list/activities-list.html %}
    {% include components/partner-list/partner-list.html %}
</main>