<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-80 pb-20">
            <div class="row">
                <div class="col-md-6 col-lg-3 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>E-Mail:</h4><span><a href="mailto:{{ site.email }}">{{ site.email }}</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Phone:</h4><span><a href="tel:{{ site.phone }}">{{ site.phone }}</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-id-card"></i>
                        <div class="cta-text">
                            <h4>KVK:</h4><span>60054050</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-certificate"></i>
                        <div class="cta-text">
                            <h4>ANBI:</h4><span>853747945</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-50 pb-30">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo"> <a href="{{site.url}}"><img src="{{site.logo.en}}" class="img-fluid" alt="{{site.title}}"></a> </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a href="{{site.baseurl}}/pages/community.html#anchor-schools">Schools</a></li>
                            <li><a href="{{site.baseurl}}/pages/community.html#anchor-churches">Churches</a></li>
                            <li><a href="https://jobs.help-ukraine.nl/" rel="noopener noreferrer" target="_blank">Vacancies</a></li>
                            <li><a href="{{site.baseurl}}/pages/about">About us</a></li>
                            <li><a href="{{site.baseurl}}/pages/events">Events</a></li>
                            <li><a href="{{site.baseurl}}/pages/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Follow Us</h3>
                        </div>
                        <div class="footer-follow-us">
                            {% include components/follow-us/follow-us.html %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2014, All Right Reserved <a href="{{site.url}}">Stichting Oekraïners in Nederland</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>