<!-- Chat Widget -->
<script>
    var MessageBirdChatWidgetSettings = {
        widgetId: '4f61476a-abe9-4911-a88a-d5153d3f2e6c',
        initializeOnLoad: true,
    };
    ! function () {
        "use strict";
        if (Boolean(document.getElementById("live-chat-widget-script"))) console.error("MessageBirdChatWidget: Snippet loaded twice on page");
        else {
            var e, t;
            window.MessageBirdChatWidget = {}, window.MessageBirdChatWidget.queue = [];
            for (var i = ["init", "setConfig", "toggleChat", "identify", "hide", "on", "shutdown"], n = function () {
                var e = i[d];
                window.MessageBirdChatWidget[e] = function () {
                    for (var t = arguments.length, i = new Array(t), n = 0; n < t; n++) i[n] = arguments[n];
                    window.MessageBirdChatWidget.queue.push([
                        [e, i]
                    ])
                }
            }, d = 0; d < i.length; d++) n();
            var a = (null === (e = window) || void 0 === e || null === (t = e.MessageBirdChatWidgetSettings) || void 0 === t ? void 0 : t.widgetId) || "",
                o = function () {
                    var e, t = document.createElement("script");
                    t.type = "text/javascript", t.src = "https://livechat.messagebird.com/bootstrap.js?widgetId=".concat(a), t.async = !0, t.id = "live-chat-widget-script";
                    var i = document.getElementsByTagName("script")[0];
                    null == i || null === (e = i.parentNode) || void 0 === e || e.insertBefore(t, i)
                };
            "complete" === document.readyState ? o() : window.attachEvent ? window.attachEvent("onload", o) : window.addEventListener("load", o, !1)
        }
    }();
</script>
<!-- Endof Chat Widget -->