<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center"
            style="background-image:url({{site.baseurl}}/assets/img/slider/slider1.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">{{ site.data.home.slider.text1 | html }}</h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">{{ site.data.home.slider.subtext1 }}</p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">{{ site.data.home.slider.cta1 }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center"
            style="background-image:url({{site.baseurl}}/assets/img/slider/slider2.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">{{ site.data.home.slider.text2 | html }}</h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">{{ site.data.home.slider.subtext2 }}</p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">{{ site.data.home.slider.cta2 }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-bg d-flex align-items-center"
            style="background-image:url({{site.baseurl}}/assets/img/slider/slider3.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content">
                            <h1 data-animation="fadeInDown" data-delay=".2s">{{ site.data.home.slider.text3 | html }}</h1>
                            <p data-animation="fadeInLeft" data-delay=".4s">{{ site.data.home.slider.subtext3 }}</p>
                            <a href="#" class="btn" data-animation="fadeInUp" data-delay=".6s">{{ site.data.home.slider.cta3 }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>