:root {
  --primary-color: #398bd5;
  --secondary-color: #fdcd61;

  --primary-color-2: #246aa8;
  --secondary-color-2: #fff7e6;

  --text-color: #7e7e7e;
  --black-color: #222;

  --border-radius: 6px;
}
