:root {
  --blue-color: #0057b8;
  --yellow-color: #ffd700;

  --blue-color-2: #669ad4;
  --yellow-color-2: #ffe766;

  --text-color: #7e7e7e;
  --black-color: #333;

  --border-radius: 6px;

  --grey-background: #ebebeb;
}
