<form action="https://example.com/payment" method="post" id="donate-form">
    <div class="donate-form-wrapper">
        <label class="amount-container">5€
            <input type="radio" name="amount" value="5"><span class="amount-container-checkmark"></span>
        </label>
        <label class="amount-container">10€
            <input type="radio" name="amount" value="10" checked="checked"><span class="amount-container-checkmark"></span>
        </label>
        <label class="amount-container">20€
            <input type="radio" name="amount" value="20"><span class="amount-container-checkmark"></span>
        </label>
        <div class="custom-amount-wrapper">
            <input type="number" min="0" id="custom-amount" name="amount"><span>€</span>
        </div>

    </div>

    <div class="submit">
        <input type="submit" value="Donate" class="btn" id="donate">
    </div>
</form>