<section class="slider-area">
    <div class="slider-active">
        {% for item in site.data.home.slider %}
        <div class="single-slider slider-bg d-flex" style="background-image:url({{site.baseurl}}{{item.img}})">
            <div class="container">
                <div class="row h-100">
                    <div class="col-xl-8 col-md-8">
                        <div class="slider-content">
                            <div class="slider-title">
                                <h1 data-animation="fadeInDown" data-delay=".2s">{{ item.text | html }}</h1>
                                <p data-animation="fadeInLeft" data-delay=".4s">{{ item.subtext }}</p>
                            </div>
                            <div class="slider-cta">
                                <a href="{{item.cta.link}}" class="btn" data-animation="fadeInUp" data-delay=".6s">{{ item.cta.title }}</a>
                                <a href="{{item.cta2.link}}" class="btn-secondary" data-animation="fadeInUp" data-delay=".6s">{{ item.cta2.title }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>