{% if site.facebook_url %}
<a href="{{site.facebook_url}}" rel="noopener noreferrer" target="_blank"><i class="fab fa-facebook-f"></i></a>
{% endif %}

{% if site.instagram_url %}
<a href="{{site.instagram_url}}" rel="noopener noreferrer" target="_blank"><i class="fab fa-instagram"></i></a>
{% endif %}

{% if site.twitter_url %}
<a href="{{site.twitter_url}}" rel="noopener noreferrer" target="_blank"><i class="fab fa-twitter"></i></a>
{% endif %}

{% if site.linkedin_url %}
<a href="{{site.linkedin_url}}" rel="noopener noreferrer" target="_blank"><i class="fab fa-linkedin-in"></i></a>
{% endif %}

{% if site.telegram_url %}
<a href="{{site.telegram_url}}" rel="noopener noreferrer" target="_blank"><i class="fab fa-telegram"></i></a>
{% endif %}

{% if site.youtube_url %}
<a href="{{site.youtube_url}}" rel="noopener noreferrer" target="_blank"><i class="fab fa-youtube"></i></a>
{% endif %}

{% if site.github_url %}
<a href="{{site.github_url}}" rel="noopener noreferrer" target="_blank"><i class="fab fa-github"></i></a>
{% endif %}