---
layout: page
title: About Us
---

<!-- Mission -->
<section class="about-info pt-100 mb-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="section-title text-center">
                    <h2>{{ site.data.about.about.mission.title }}</h2>
                </div>
                <div class="about-info-text">
                    <p>{{ site.data.about.about.mission.content }}</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 mt-50">
                <img src="{{site.baseurl}}/assets/img/about/dutchroyalfamily.jpg" class="img-fluid" />
            </div>
        </div>
    </div>
</section>

<!-- about-area -->
<section class="about-area pb-30 pt-100">
    <div class="container">
        <div class="row text-center">
            <div class="col-10 pb-50">
                <div class="section-title">
                    <h2>{{ site.data.about.about.story.title }}</h2>
                </div>
                <div class="about-content">
                    <p>{{ site.data.about.about.story.content }}</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="{{site.baseurl}}/assets/img/about/klychko.jpg" class="img-fluid mb-35" />
            </div>
            <div class="col-sm-12 col-md-6">
                <img src="{{site.baseurl}}/assets/img/about/poroshenko.jpg" class="img-fluid" />
            </div>
        </div>
    </div>
</section>

<!-- about-ukr -->
<section class="about-area pb-60 pt-50">
    <div class="container">
        <div class="row text-center">
            <div class="col-10 pb-30">
                <div class="section-title">
                    <h2>{{ site.data.about.about.story_ua.title }}</h2>
                </div>
                <div class="about-content">
                    <p>{{ site.data.about.about.story_ua.content }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div style="width: 100%;">
    {% include components/section.html section="what-we-do" classes="grey-bg text-center pt-50" %}
</div>
<div>
    {% include components/activities-list.html %}
</div>

<!-- people -->
<section class="about-area pb-60 pt-100">
    <div class="container">
        <div class="row text-center">
            <div class="col-10 pb-50">
                <div class="section-title">
                    <h2>Leadership</h2>
                </div>
                <div class="about-content text-left pb-30">
                    <ul class="people-list">
                        {% for person in site.data.about.people %}
                        <li> {{person.name}} </li>
                        {% endfor %}
                    </ul>
                </div>
                <img src="{{site.baseurl}}/assets/img/about/leadership.webp" width="100%"/>
            </div>
        </div>
    </div>
</section>