---
layout: page
title: Community
---
{% assign data = site.data[site.lang].community %}
<!-- services-area -->
<section class="service-area pt-100 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center pb-40 ">
                <div class="section-title service-title">
                    <h2>{{data.schools.title}}</h2>
                    <p>{{data.schools.content}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for school in data.schools.schools %}

            <div class="col-xl-4 col-lg-4 col-md-6 mb-50 ">
                <div class="services-box">
                    <div class="services-img"><img src="{{school.cover}}" class="img-fluid" alt=""></div>
                    <div class="services-content">
                        <div class="card-title">
                            <h5>{{school.city}} «{{school.name}}»</h5>
                        </div>
                        <div class="card-text">
                            <ul class="school-details">
                                <li>
                                    <span>{{school.age}}</span>
                                </li>
                                <li><i class="fas fa-location-dot"></i>
                                    <span><a href="https://www.google.com/maps/search/?api=1&query={{school.address | url_encode}}" rel="noopener noreferrer"
                                            target="_blank"> {{school.address}}</a></span>
                                </li>
                                <li>
                                    <i class="far fa-calendar"></i>
                                    <span>{{school.timetable}}</span>
                                </li>
                                {% if school.email %}
                                <li><i class="far fa-envelope"></i>
                                    <span><a href="mailto:{{school.email}}" rel="noopener noreferrer" target="_blank">{{school.email}} </a></span>
                                </li>
                                {% endif %}
                                {% if school.phone %}
                                <li><i class="fas fa-phone"></i>
                                    <span><a href="tel:{{school.phone}}" rel="noopener noreferrer" target="_blank">{{school.phone}} </a></span>
                                </li>
                                {% endif %}
                                <li><i class="fab fa-facebook"></i>
                                    <span><a href="https://www.facebook.com/{{school.facebook}}" rel="noopener noreferrer" target="_blank">@{{school.facebook}}
                                        </a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</section>
<!-- services-cta -->
<section class="services-cta grey-bg pt-50 pb-20">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12 text-center pb-40 ">
                <div class="section-title service-title">
                    <h2>{{data.churches.title}}</h2>
                    <p>{{data.churches.content}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for church in data.churches.churches %}
            <div class="col-xl-10">
                <h5>{{church.city}}</h5>
                <p>{{church.address}}</p>
                {% if church.contact %}
                <p>
                    {{church.contact}}
                    {% if church.email %}
                    <a href="mailto:{{church.email}}">{{church.email}}</a>
                    {% endif %}
                </p>
                {% endif %}

            </div>
            {% endfor %}
        </div>
    </div>
</section>