<div class="clients-area pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center mb-40">
                <div class="section-title">
                    <h2>Our partners & Sponsors</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="clients-active owl-carousel">
                {% for partner in site.data.home.partners %}
                <div class="col-sm-12">
                    <div class="single-clients">
                        <img src="{{site.baseurl}}{{partner.logo}}" alt="{{partner.name}}">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>