<section class="{{include.classes}}">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>{{include.data.title}}</h2>
                </div>
                <div class="about-content">
                    <p>{{ include.data.content }}</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="row">
                    {% for image in include.data.images %}
                    <div class="col-xl-6 col-md-6 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}{{image.url}}" class="img-fluid" alt="">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>